# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
./.idea/
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/e/d/eddc3b1a3cf7fbf097b0f7fd5599695ac93d6f1b
.idea/sonarlint/issuestore/a/7/a77b15c0d64cf6111e025645e562faf8ccabb9d7
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/6/7/674effb85dac479ec2f277de2d8e1a362611e177
.idea/sonarlint/issuestore/1/4/14434bf61365b50809625106aeaad9b1b534e78c
